<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: auto auto;
      background-color: #f0f0f0;
      padding: 2rem;
    ">
    <div
      style="
        margin: auto auto;
        background: #fafafa;
        width: 100vw;
        max-width: 600px;
        padding: 2rem;
      ">
      <img
        style="width: 100%"
        src="https://cdn.discordapp.com/attachments/945321593419235393/1187036944014786651/Banner_4_saudagar.png?ex=65956d4d&is=6582f84d&hm=5211a39b8626c01005d6b7f3068ac69b5d0861187ea17f2702eee1d201ddba50&" />
      <div style="font-size: 1.2rem">Hi <%= nama %>,</div>
      <div style="margin-top: 1rem">
        Selamat pembelian tiket anda telah berhasil
      </div>
      <div>
        Silahkan unduh tiket untuk
        <b><%= event.title %></b>
        pada lampiran email ini
      </div>
      <div style="margin-top: 1.2rem">
        Jangan lupa untuk hadir pada waktu dan tanggal berikut:
      </div>
      <div style="display: flex">
        <div>
          <div>Waktu Open Gate</div>
          <div>Tanggal</div>
          <div>Tempat</div>
        </div>
        <div style="margin-left: 1rem; font-weight: bold">
          <div>: <%= event.start %> - <%= event.end %> WIB</div>
          <div>: <%= event.date %></div>
          <div>: <%= event.loc %></div>
        </div>
      </div>
      <div style="background-color: #27bfe6; padding: 1rem; margin-top: 2rem">
        <div style="font-weight: bold">Tips:</div>
        <div>
          Unduh tiketmu pada lampiran email ini sebelum datang dan menghadiri
          acara <%= event.title %>.
        </div>
      </div>
      <div style="font-weight: bold; margin-top: 2rem">Rincian Item</div>
      <div style="display: flex">
        <div>
          <div>No Pesanan</div>
          <div>Pesanan</div>
          <div>Jumlah Tiket</div>
          <div>Nama Pemesan</div>
          <div>No. Telephone</div>
          <div>Email</div>
        </div>

        <div style="padding-left: 1rem; font-weight: bold">
          <div>: <%= transaction_id %></div>
          <div>: <%= event.title %></div>
          <div>: <%= jumlah_ticket %></div>
          <div>: <%= nama %></div>
          <div>: <%= email %></div>
        </div>
      </div>
    </div>
    <div
      style="
        margin: auto auto;
        margin-top: 2rem;
        padding: 2rem;
        width: 100vw;
        max-width: 600px;
        background-color: #fafafa;
      ">
      <div style="font-weight: bold">Butuh Bantuan?</div>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScbvIvVgSfCD6r-mi_oEHcYYACAz0_ji-Kq81xlCGi7S4LsLA/viewform?usp=sf_link"
        ><div>Form Kendala Tiket <%= event.title %></div></a
      >
    </div>
    <div style="text-align: center; margin: auto auto; margin-top: 2rem">
      <img
        style="width: 5rem"
        src="https://cdn.discordapp.com/attachments/945321593419235393/1187032794388516885/DALLE_2023-12-20_21.04.25_-_Create_a_4S_logo_in_a_minimalistic_style_similar_to_the_uploaded_UX_logo._The_logo_should_feature_the_number_4_and_the_letter_S_side_by_side.png?ex=65956970&is=6582f470&hm=59d8499e4db0219237771b047dabedf8acc65df1aef9b7efdbf5ea9ce2827248&" />
      <div>Copyright Ⓒ 2023 UTIXT All rights reserved</div>
    </div>
  </body>
</html>
